body {
    font-family: sans-serif;
    background-color: mediumturquoise;
    padding: 20px;
}
header a{
     text-decoration: none;
    border: 3px solid rgb(0, 0, 0);
    border-radius:5px ;
    font-size:30px ;
    padding:5px;
    color:white ;
    background-color:rgb(131, 5, 131) ;
}
header{
    width: 550px;
    height: 75px;
}
.link-nav{
     text-decoration: none;
    border: 3px solid rgb(0, 0, 0);
    border-radius:5px ;
    font-size:25px ;
    padding:5px;
    color:white ;
    background-color:rgb(131, 5, 131) ;

}
nav{
    width: 650px;
    height: 75px;
}

