body {
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color:#121212;
    background: url("img/fon.jpg")
}

.page{
    width:800px;
    margin:20px auto;
}

.photo{
    width: 400px;
}


/*Header*/ 

.header {
    padding: 20px;
    background-color: #121212;
    
}

.header-title {
    margin: 0;
    font-size:24px;
    color:#fff;
    text-align: center;
    
    
}

.header-subtitle {
    margin: 0;
    font-size:16px;
    color:#7ab0e6;
    text-align: center;
    font-weight:normal; 
    
}


/*  Nav   */

.nav{
    text-align: center;
}
.nav-link{
    display: inline-block;
    padding: 8px 12px;
    text-decoration: none;
    color:#121212;
    
    
    
}
.nav-link:hover{
    background-color:#ccc
}



/* Content */

.content {
    padding:20px
}

.content-title{
    font-size: 25px;
    margin: 30 0;
    margin-top: 45px;
    
    color:#31485f
        
}

.content-text{
    margin-bottom: 20px;
}

.read-more:hover{
    text-decoration: underline;
}

/* Article */

.article{
    margin-bottom: 15px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}
.article-title{
    font-size: 15px;
    margin: 0;
    font-weight: normal;
    margin-bottom: 15px;
    color:#000000
}

 .article-title a{
     color:#5c8b8d;
     text-decoration: none;            
}

.article-title a:hover{
    text-decoration: underline;
}
.article-date{
    color:#a09f9f;
    font-size:15px;
}
.content-text{
    margin-bottom: 20px;
}

.mars{
    background:url(img/mars.jpg);
    padding: 10px 20px 20px 20px;
    color: #794a00;
    margin: 0;
}
.mars h3{
    font-size: 25px;
    margin: 30 0;
    margin-top: 45px;
    
    color:#763716;
}
.mars a{
    color:aliceblue;
    text-decoration: none;
    font-weight: 800;
}
.mars a:hover{
    padding: 5px;
    background-color: rgba(221, 194, 152, 0.65)
}

/* Footer */

.footer{
    background-color: #121212;
    color:#fff;
    font-style:italic;
    text-align: center;
    padding:20px;
    
}
