body {
    font-family: sans-serif;
    background-color: lightcyan;
    padding: 20px;
}

h1 {
   background-image: linear-gradient(to top, black, lightgray);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

p {
    color: tomato;
}

header {
    background-color: LightBlue;
    padding: 30px;
    border-radius: 20px
}

header a {
    text-decoration: none;
    background-color: DodgerBlue;
    padding: 15px;
    border-radius: 10px;
}

main h1{
    text-align: center;
}

nav {
    padding: 20px;
}

nav a {
    text-decoration: none;
    background-color: dodgerblue;
    padding: 10px;
    border-radius: 10px;
    color: wheat;
}