head {
    background-color: orangered;
}

h2 {
    text-align: center;
    font-family: sans-serif;
    color: white;
    background-color: orangered;
}

html {
    background-color: #ff601c;
}

img {
    width: 400px;
    border: 10px solid orange;
    margin: 5px;
}

h3 {
    font-family: sans-serif;
    border: 5px solid red;
    border-radius: 20%;
    background-color:red;
    color: white;
    text-align: center;
    width: 15%;
    height: 9%;
    position: absolute;
    left:68%;
    top: 40%;
}

p {
    font-family: sans-serif;
    position: absolute;
    left:60%;
    top: 30%;
}

main {
    display: flex;

}

a {
    color: black;
    position: absolute;
    font-family: sans-serif;
    bottom: 10px;
    border: 10px solid grey;
    background-color: grey;
    text-decoration: none;
    border-radius: 35%;
    display: block;

}