img {
    width: 300px;
    text-align: center;
}

p {
    font-family: sans-serif;
}

head {

}

th {
    border: 3px solid black;
    border-color: coral;
}

.icon {
    width: 25px;
}

.poisk {
    padding: auto auto;

}

.tovar {
    width: 30%;
    height: 250px;
    border: 7px solid #FF4500;
    margin: 5px;
    text-align: center;
}

.tovari {
    display: flex;
    flex-wrap: wrap; 
}

.tovar img{
    width: 70%;
    height: 70%;
    text-align: center;
}

span {
    font-family:sans-serif;
}

.dvoyka {
    width: 60px
}

footer {
    border: 7px solid yellow;

}

html {
    background-color: orange;
}

div {
    font-family: sans-serif;
}