body {
    font-family: sans-serif;
    background-color: rgb(141, 98, 221);
}
h1 {
    text-align: center;
}
header{
    padding-top: 10px;
    padding-bottom: 10px;
}
a {
   background-color: rgb(216, 216, 216);
   text-decoration: none;
   padding: 10px;
   color: blueviolet;
   border-radius: 10px;
}
h1 {
    text-decoration: none;
    font-size: 20px;
    color: white;
    background-image: linear-gradient(white,blueviolet);
    padding: 10px;
    border-radius: 10px;
}
h2 {
    text-align: center;
     background-color: #ffffff;
    color: blueviolet;
    font-size: 30px;
}
h3 {
text-align: center;
     background-color: #ffffff;
    color: blueviolet;
    font-size: 30px;

}