body {
    font-family: sans-serif;
}

a {
    text-decoration:none ;
    color:#ffffff	;
}
header {
    background-color: rgb(3, 17, 72);
    padding: 30px;
    border-radius: 20px;
    text-indent: 20px;
    font-size: 30px;
}

body {
    background-color: #37b2ebee;

}
